/* Muhammet Furkan Ayhan */
.label {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  font-size: 1rem;
  color: gray;
}

.label-full {
  top: 0;
  font-size: 0.6rem;
  transition: all 0.5s ease-out 0s;
}

.form-group {
  position: relative;
}

.form-control {
  height: 3rem !important;
  padding-top: 1rem !important;
  color: blue !important;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0.23;
}

.cb150 {
  height: 150px;

  font-weight: regular;
}

.cb100 {
  height: 100px;
}

.font-12 {
  font-size: "12px";
  font-weight: 500;
  font-family: Poppins;
  color: #7e84a3;
}

.font-16 {
  font-size: "16px";
  font-family: Poppins;
  color: #7e84a3;
}

.font-18 {
  font-size: "18px";
  font-weight: 500;
  font-family: Poppins;
  color: #7e84a3;
}

.font-22 {
  font-size: "22px";
  font-weight: 500;
  font-family: Poppins;
  color: #7e84a3;
}

.font-28 {
  font-size: "28px";
  font-weight: SemiBold;
  font-family: Poppins;
}

.font-29 {
  font-size: "29px";
  font-weight: SemiBold;
  font-family: Poppins;
}

.font-35 {
  font-size: "35";
  font-family: "Poppins-SemiBold, Poppins";
  font-weight: "600";
  letter-spacing: "0.004em";
}
